@{
    Layout = "~/Views/Shared/Adaptive_master.cshtml";
}

<div>
    <form action="/upload_stock" method="post" enctype="multipart/form-data">
        <input type="file" name="file1"/>
        <input type="submit" value="Upload"/>
    </form>
</div>
